<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间的值为dao层接口的权限定名 -->
<mapper namespace="com.zhuzhenshan.cms.dao.CollectMapper" >
	
	<insert id="insert">
		insert into cms_collect (text,url,created,user_id)
		values(#{text},#{url},#{created},#{user.id})
	</insert>
	
	
	<select id="selects" resultType="Collect">
		select * from cms_collect where user_id=#{userId} order by created desc
	</select>
	
	<delete id="delete">
		delete from cms_collect where id=#{id}
	</delete>
	
	<select id="selectByTitleAndUserId" resultType="Collect">
		select * from cms_collect where user_id = #{userId} and text=#{title}
	</select>
	
</mapper>