<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间的值为dao层接口的权限定名 -->
<mapper namespace="com.zhuzhenshan.cms.dao.SlideMapper" >
	
	<select id="selects" resultType="Slide">
		select * from cms_slide
	</select>
	
</mapper>