<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	<!-- 扫描器 -->
	<context:component-scan
		base-package="com.zhuzhenshan.cms.controller"></context:component-scan>
	<!-- 视图解析图 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置前缀 -->
		<property name="prefix" value="/WEB-INF/view/"></property>
		<!-- 配置后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 不拦截静态资源 -->
	<mvc:default-servlet-handler />
	<!-- mvc注解驱动 -->
	<mvc:annotation-driven/>
	<!-- 文件上传的处理类 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>
	
	
	<!-- 配置个人拦截器 -->
	<mvc:interceptors>
		<!-- 配置个人中心拦截器 -->
		<mvc:interceptor>
			<!-- 值拦截已my开头的URL -->
			<mvc:mapping path="/my/**"/>
			<!-- 不拦截,静态资源不拦截 -->
			<mvc:exclude-mapping path="/resource/**"/>
			<!-- 拦截器处理类 -->
			<bean class="com.zhuzhenshan.cms.util.MyInterceptor" ></bean>
			
		</mvc:interceptor>
		
	</mvc:interceptors>
	
	<!-- 配置管理员拦截器 -->
	<mvc:interceptors>
		<!-- 配置个人中心拦截器 -->
		<mvc:interceptor>
			<!-- 值拦截已my开头的URL -->
			<mvc:mapping path="/admin/**"/>
			<!-- 不拦截,静态资源不拦截 -->
			<mvc:exclude-mapping path="/resource/**"/>
			<!-- 拦截器处理类 -->
			<bean class="com.zhuzhenshan.cms.util.AdminInterceptor" ></bean>
			
		</mvc:interceptor>
		
	</mvc:interceptors>
	
</beans>
